.About-us {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5%;
}

h2 {
    font-style: italic;
    color: rgb(224, 111, 18);
}

.About-us ul {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
}
.About-us li {
    padding: 5px;
    margin: 15px;
    border: 2px solid rgb(224, 111, 18);
}
