.Branches {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-bottom: 10%;
}

.connection {
    padding: 10px;
    background: orange;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20%;
    margin: 10px 0;
    outline: none;
    border: 3px solid black;
}

.connection:hover {
    background: black;
    color: orange;
    cursor: pointer;
    border: 4px solid orange;
}
